<!DOCTYPE html>
<html>
  <head>
    <title>Hcxp</title>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/54c3771c61.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script src="https://cdn.rawgit.com/kzima/vuestrap-base-components/master/dist/vuestrapBase.min.js"></script>
    <script src="https://cdn.rawgit.com/monterail/vue-multiselect/master/lib/vue-multiselect.min.js"></script>
    <script src="https://cdn.rawgit.com/pagekit/vue-resource/master/dist/vue-resource.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </head>

  <body>
    <%== cell(:flash_messages, flash) %>
    <%== cell(:nav_main, css_class: @nav_main_class) %>
    <%= yield %>


    <div class="container text-xs-center mt-3">
      <hr>
      <ul class="list-inline text-muted">
        <li class="list-inline-item">DIY or DIE!</li>
        <li class="list-inline-item">&times;</li>
        <li class="list-inline-item">
          <a href="https://github.com/hcxp/hcxp" target="_blank">Github</a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/hcxphq" target="_blank">Twitter</a>
        </li>
      </ul>
    </div>
  </body>
</html>
